<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>About Me</title>
</head>
<body>
    <header>
        <div id="menu" data-animation="diagonal">
            <i class="fa-solid fa-circle-xmark" style="display: none;"></i>
            <ul class="burger-menu-nav-bar" style="display: none;">
            <li><a href="/">
                Home
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a>
            </li>
            <li><a href="/about">
                About me
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a>
            </li>
            <li><a href="/works">
                Works
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a>
            </li>
            <li><a href="/contact">
                Contact
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a>
            </li>
            </ul>
        </div>
        <div class="burger-menu-container">
            <i class="fas fa-bars"></i>  
        </div>        
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    <main class="main-about">
        <h2>Full name: Carlos Eduardo Lavado Olivero</h2>
        <h2>Profession: Computer Engineer / Full Stack Web Developer</h2>
        <p>Hi, as I said before, my name is Carlos Lavado. I'm from Venezuela but currently living
            in Colombia. I studied Computer Engineering in college and then extended to the world of Full
            Stack Development. The reason why I left my country was to get better opportunities for me and 
            my family, due to the social-economic situation that has been trough in Venezuela. 
            <br>
            <br>
            I always glad to meet new people, although at the beginning I can be a litle shy and quite but 
            once I get to know a person, I become more outgoing and more friendly.
            <br>
            <br>
            My hobbies are:
        </p>
            <label id="label1">Videogames</label>
            <div class="hobbies-img-container">
                <img id="img-mob-1" class="img-mobile" src="https://img.freepik.com/vector-gratis/conjunto-objetos-relacionados-videojuegos-neon-estilo-lineal_24908-58670.jpg" alt="videogames">
                <img id="img-desk-1" class="img-desktop" src="https://c.tenor.com/c1nHZPnjNSgAAAAC/viciado-vicio.gif" alt="videojegos">
            </div>            
            <label id="label2">And Anime</label>
            <div class="hobbies-img-container">
                <img id="img-mob-2" class="img-mobile" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2021/08/naruto-naruto-uzumaki-2425679.jpg?itok=cSHefN5K" alt="anime">
                <img id="img-desk-2" class="img-desktop" src="https://images.hive.blog/0x0/https://files.peakd.com/file/peakd-hive/alejandroaldana/23w2oHhw2qTYzbjC118AKiRntsVrqu2Xo2BowqX34EFjg3N8gtcER3fSRWaXLH8QG21Aa.gif" alt="anime">
            </div>            
        <p id="second-p">
            I'm so into these hoobies since I can remember... Knowing about videogames was one
            of the reasons I wanted to become a programmer, though.
        </p>
    </main>    
    <footer>
        <ul class="nav-bar-footer">
            <li><a href="https://github.com/caredlav"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/carlos-lavado-olivero/"><i class="fa-brands fa-linkedin"></i></a></li>            
        </ul>
        <h6>Designed and built by Carlos Lavado</h6>
    </footer>
    <script src="/js/menu.js"></script>
    <script src="/js/observer.js"></script>
</body>
</html>