<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <main class="main-contact">
        <h2>Contact Information</h2>
        <p>If you wanna contact me, feel free to do it!</p>
        <label class="contact-email">Email adress: caredlav@gmail.com</label>
        <label class="contact-linkedin">Linkedin: <a href="https://www.linkedin.com/in/carlos-lavado-olivero/">linkedin.com/in/carlos-lavado-olivero/</a></label>
        <p>Also, you can check my other projects in <span><a href="https://github.com/caredlav">Github.com/caredlav</a></span></p>
    </main>
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/menu.js"></script>
</body>
</html>