<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>
<body>
    <header>
        <div class="burger-menu-container">
            <i class="fas fa-bars"></i>  
        </div>        
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    <main class="main-contact">
        <h2>Contact Information</h2>
        <p>If you wanna contact me, feel free to do it!</p>
        <label>Email adress: caredlav@gmail.com</label>
        <label>Linkedin: <a href="https://www.linkedin.com/in/carlos-lavado-olivero/">linkedin.com/in/carlos-lavado-olivero/</a></label>
        <p>Also, you can check my other projects in github.com/caredlav</p>
    </main>
    <footer>
        <ul class="nav-bar-footer">
            <li><a href="https://github.com/caredlav"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/carlos-lavado-olivero/"><i class="fa-brands fa-linkedin"></i></a></li>            
        </ul>
        <h6>Designed and built by Carlos Lavado</h6>
    </footer>
</body>
</html>