<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body class="body-error">
    <div class="img-container">
        <img src="https://c.tenor.com/IHdlTRsmcS4AAAAC/404.gif" alt="error">        
    </div>
    <div class="hyperlink-container">
        <a href="/">Click here to return</a>
    </div>    
</body>