<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9e4a4d87e1.js" crossorigin="anonymous"></script>
    <title>Previous works</title>
</head>
<body>
    <header>
        <div class="burger-menu-container">
            <i class="fas fa-bars"></i>  
        </div>        
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    <main class="main-works">
        <h2>Here you can see all my works as a Full Stack Developer</h2>
        <section class="works-section">
            <div class="articles-container"> 
                <div class="article-container">
                    <article class="article-work">
                <label>Mercado Liebre</label>
                <div class="img-works-conatiner">
                    <img class="img-works" src="/img/ml.png" alt="mercado_liebre">
                </div>
                <p>This is a website similar to Mercado Libre in which you can only see a few products
                    (home), the register form and the login form. Additionally, this was a Frontend project.
                </p>
            </article>
                </div>
    <div class="article-container">
        <article class="article-work">
                <label>Karonsafro</label>
                <div class="img-works-conatiner">
                    <img class="img-works" src="/img/karonsafro.jpg" alt="karonsafro">
                </div>
                <p>This was an e-commerce where people from an specific community could buy beauty products. 
                    In addition, this project was made with a group, which every member had to  
                    complete the user's histories during a period of time. This was a complete Frontend and Backend project.
                </p>
            </article>
    </div>
            <div class="article-container">
               <article class="article-work">
                <label>Namaki's World</label>
                <div class="img-works-conatiner">
                    <img class="img-works" src="/img/nw.jpg" alt="namaki_s_world">
                </div>
                <p>This is a personal project similar to Karonsafro but instead of buying beauty products,
                    you can get products related to Videogames, Anime and Superheroes. For the moment, this
                    project hasn't been uploaded to a server, however I tend to do it in the future. Meanwhile,
                    you can see a preview of the home. Oh, I almost forget...this is a Frontend and Backend
                    project.
                </p>
            </article> 
            </div>
            <div class="article-container">
               <article class="article-work">
                <label>DasSplit</label>
                <div class="img-works-conatiner">
                    <img class="img-works" src="/img/dassplit.jpg" alt="dassplit">
                </div>
                <p>Even though at first sight it looks so poor in the Frontend, this project was focused
                    on the Backend. Here you can manage shared accounts just to register and followed up
                    the dues you and other users, friends or families have made in a specific date. Long 
                    story short...a program similar to SplitWise but a lower scale.
                </p>
            </article> 
            </div>            
            </div>            
        </section>
    </main>
    <footer>
        <ul class="nav-bar-footer">
            <li><a href="https://github.com/caredlav"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/carlos-lavado-olivero/"><i class="fa-brands fa-linkedin"></i></a></li>            
        </ul>
        <h6>Designed and built by Carlos Lavado</h6>
    </footer>
</body>
</html>