<footer>
    <ul class="nav-bar-footer">
        <li><a href="https://github.com/caredlav"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/carlos-lavado-olivero/"><i class="fa-brands fa-linkedin"></i></a></li>            
    </ul>
    <h6>Designed and built by Carlos Lavado</h6>
</footer>