<header>
    <span class="logo-container"><a href="/"><img src="/img/logo.png" alt="logo"></a></span>
    <div id="menu" data-animation="diagonal">
        <i class="fa-solid fa-circle-xmark" style="display: none;"></i>
        <ul class="burger-menu-nav-bar" style="display: none;">
            <li><a href="/">
                    Home
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a>
            </li>
            <li><a href="/about">
                    About me
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a>
            </li>
            <li><a href="/works">
                    Works
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a>
            </li>
            <li><a href="/contact">
                    Contact
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="burger-menu-container">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</header>